body {
    font-family: "Gill Sans", Helvetica, Arial;
}
#current span {
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
table {
    border-collapse: collapse;
    border: 3px solid #006e1c;
    margin: 0 auto;

    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F2FEF9));
    background-image: -webkit-linear-gradient(top, #ffffff, #F2FEF9);
    background-image: -moz-linear-gradient(top, #ffffff, #F2FEF9);
    background-image: -ms-linear-gradient(top, #ffffff, #F2FEF9);
    background-image: -o-linear-gradient(top, #ffffff, #F2FEF9);
    background-image: linear-gradient(to bottom, #ffffff, #F2FEF9);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#F2FEF9);
    position: relative;
}

#overlay {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 110, 28, 0.1);
  text-align: center;
}

#overlay span {
    font-size: 56px;
    margin-top: 15%;
    color: white;
    text-shadow: 1px 3px 2px #000000;
    display: block;
}

th, td {
    border: 1px solid #006e1c;
    padding: 5px 8px;
}
td.center {
    text-align: center;
}
#time {
    font-size: smaller;
    text-align: right;
    color: #666;
    padding-bottom: 3px;
}
.current_day_type {
    background-color: #f4f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.current_period {
    background-color: #a9db80;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.free {
    font-style: italic;
    text-align: center;
    color: #999;
}

details {
    text-align: center;
}

.quiet {
    font-size: 16px;
    padding-top: 30px;
}

.time_span {
    display: inline-block;
    text-align: right;
}

@media (min-width: 568px) {
    .start_time:after {
        content: "- ";
    }
}
h1 {
    text-align: center;
    color:  #006e1c;
}

.page-content {
    max-width: 500px;
    margin: 0 auto;
}

.page-content img {
    display: block;
    margin: 0 auto;
}

#testString {
    color: #fff;
}

#about-link {
    text-align: center;
}
